body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
.search-container{
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}
.search-container input[type="text"]{
    width: 40%;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    background: black;
    color: white;
    border: 2px solid white;
    font-size: 16px;
}
.search-container button{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    width: 13%;
    font-size: 16px;
}

.container{
    
}
.container-item{
    width: 83%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    margin-left: 6rem;
    padding: 13px;
}
.container-item img{
    width: 52px;
}
.symbol{
    text-transform: uppercase;
}